.header-title {
  color: #4eb416;
  padding: 10px;
  text-align: center;
}

.header-subtitle {
  color: #4eb416;
  padding: 10px;
  text-align: center;
}

.content-text {
  color: #4eb416;
  padding: 10px;
  text-align: center;
}