{% extends 'base.html' %}
{% load static %}

{% block title %}Escola - Alunos{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/lista_profs.css' %}">
{% endblock extra_head %}

{% block main_title %}
  <h1 class="header-title">Bem vindo ao sistema da escola</h1>
  <p class="header-subtitle">Esta é a página de listagem de professores.</p>
{% endblock main_title %}

{% block content %}
  <p class="content-text">Aqui você pode acessar as informações dos professores.</p>
  <p class="content-text">
    Use o menu para navegar pelas diferentes seções do sistema.
</p>
{% endblock %}